{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-3 p-5 mt-5 simple-form">
		<h2>Login</h2>
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group">
				{{ field.label_tag }}
				{{ field }}
				</div>
			{% endfor %}
			{% for field, errors in form.errors.items %}
				{% for error in errors %}
					<div class="alert alert-danger" role="alert">
					{{ error}}
					</div>
				{% endfor %}
			{% endfor %}
			<div class="row">
				<div class="col-6">
					<a href="{% url 'signup' %}" class="btn btn-secondary">register</a>
				</div>
				<div class="col-6 text-right">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
