<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    <h3>Hello, dear {{ user.username }}</h3>

    <h4>Your order has been completed and it consist of:</h4>

    <table>
        <tr>
            <td>Item</td>
            <td>Amount</td>
        </tr>
        {% for item in cart.items.all %}
            <tr>
                <td>
                    {{ item.item.name }}
                </td>
                <td>
                   {{ item.quantity }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p> For a total of {{ total }}NOK</p>

    <p>------</p>
    <strong>Best regards, webshopguys!</strong>
</body>
</html>