<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% block css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
    <title>Web shop</title>


</head>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">Web Shop</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				    {% if user.is_authenticated %}
				    <li class="nav-item">
						<a class="nav-link" href="{% url 'cart' %}" >My Shopping Cart</a>
					</li>
				    {% endif %}
					{% if user.is_superuser %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'admin:index' %}" >Admin panel</a>
					</li>
					{% endif %}
				</ul>
				{% if user.is_authenticated != 1%}
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}" >Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
					</li>
				</ul>
				{% else %}
				<div class="nav navbar-nav navbar-right">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</div>
				{% endif %}
			</div>
		</nav>
		{% block content %}{% endblock content %}
        {% if messages %}
          <div class="message-list">
          {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message.message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
          </div>

      {% endif %}
	</div>
    <script>
        $('.alert').alert('dispose');
    </script>
</body>
</html>
