{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'webshop/css/search.css'%}">
{% endblock %}

{% block content %}

<div class="item">
  <h3><a class="item_name" href="/webshop/{{ item.id }}/">{{item.name | truncatechars:14 }}</a></h3>
  <p class="item_price">{{item.price}} NOK</p>
  <p class="item_brand">{{item.brand}} Brand</p>
  <p class="item_tags">
    {% for tag in item.tag.all %}
    <span>{{tag.name}}{% if not forloop.last %} | {% endif %}</span>
    {% endfor %}
  </p>
  {% if user.is_authenticated %}
  <a class="item_add_to_cart" href="{% url 'add_item_to_cart' item.pk %}">[Add To Cart]</a>
  {% endif %}
</div>

{% endblock %}
