{% extends 'base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-3 p-5 mt-5 simple-form">
		<h2>Logged out</h2>
		<p>You have been successfully logged out.</p>
		<p><a href="{% url 'login' %}">Log in</a> again.</p>
	</div>
</div>
{% endblock %}
