{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-3 p-5 mt-5 simple-form">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
