.cart {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.cart .cart_item:first-child span {
  font-weight: bold;
  font-size: 1.1rem;
}

.cart > h4 {
  margin-top: 1rem;
  align-self: flex-end;
}

.cart_item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 1fr 1fr;
  justify-items: center;
  margin: 1rem;
}

.cart_item > span:first-child, .cart_item a:first-child {
  justify-self: start;
  font-size: 1.1rem;
}

.horizontal_line {
  height: 0;
  border-bottom: 1px solid black;
}

.item_quantity_selector {
  display: flex;
  flex-direction: row;
}

.item_quantity_selector * {
  height: 2rem;
}

.input_quantity_selector {
  width: 3rem;
  text-align: center;
}

.btn_quantity_selector {
  width: 2rem;
  text-align: center;
  line-height: normal;
}
.strikethrough {
  text-decoration: line-through;
}

.is-invalid{
  border-color: rgba(175, 17, 14, 0.87) !important;
}

.invalid-help-text {
  color: rgba(175, 17, 14, 0.87) !important;;
}