#filterForm {
	display: grid;
	grid-template-columns: max-content min-content;
	grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
	width: 600px;
	grid-gap: 1rem;
	padding: 1rem;
	border: 1px solid black;
}

#filterForm > label {
	grid-column: 1/2;
}

#id_tag {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0;
	padding: 0;
}

#priceDiv {
	display: flex;
}

.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 1fr 1fr;
	grid-template-areas:
		"name "
		"brand"
		"tags"
		"price"
		"add";
	width: 15rem;
	min-width: 10rem;
	max-height: 15rem;
	padding: 1rem;
	border: 1px solid #747576;
	margin: 0.5rem;
}

.item_name {
	grid-area: name;
	font-size: 1.5rem;
	font-weight: bold;
}

.item_brand {
	grid-area: brand;
}

.item_tags {
	grid-area: tags;
}

.item_price {
	grid-area: price;
}

.item_add_to_cart {
	grid-area: add;
}

.strikethrough {
	text-decoration: line-through;
}
