{% extends "base.html" %}

{% load static %}
{% load mathfilters %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'webshop/css/cart.css' %}">
{% endblock %}

{% block js %}
<script type="text/javascript">
// Allows the user to press the enter key when changing the quantity
function handle_input(event, item_pk, quantity) {
  if (event.key === "Enter") {
    updateQuantity(item_pk, quantity);
  }
}

function subtractQuantity(item_pk) {
  let quantity = parseInt(document.getElementsByName(item_pk+"-quantity")[0].value) - 1;
  console.log(quantity);
  updateQuantity(item_pk, quantity);
}

function addQuantity(item_pk) {
  let quantity = parseInt(document.getElementsByName(item_pk+"-quantity")[0].value) + 1;
  console.log(quantity);
  updateQuantity(item_pk, quantity);
}

function updateQuantity(item_pk, quantity) {
  let location = "{% url 'update_item_in_cart_base' %}" + item_pk + "/" + quantity + "/";
  window.location.href = location;
}

function buyCart () {
    let email = document.getElementById('InputEmail1');
    if (validateEmail(email.value)) {
        window.location.href = "{% url 'buy_cart_base' %}" + email.value + '/';
    }
    else {
        email.classList.toggle('is-invalid');
        document.getElementById('emailHelp').innerHTML = 'Please provide a valid email address';
        document.getElementById('emailHelp').classList.add('invalid-help-text');
    }
}

function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

</script>
{% endblock %}

{% block content %}
<div class="cart">
  <div class="cart_item">
    <span>Shopping cart</span>
    <span>Quantity</span>
    <span>Stock</span>
    <span>Price</span>
    <span>Total</span>
    <span>Delete</span>
  </div>
  <div class="horizontal_line"></div>
  {% if item_amount == 0 %}
  <div class="cart_item">
    <span>There are no items in your cart.</span>
  </div>
  {% else %}
  {% for order in cart.items.all %}
  <div class="cart_item">
    <span>
      <a href="{% url 'detail' order.item.pk %}">{{ order.item.name }}</a>
      {% if order.item.get_discount %}[{{order.item.get_discount}}]{% endif %}
    </span>
    <div class="item_quantity_selector">
      <button class="btn_quantity_selector" onclick="subtractQuantity({{order.item.pk}})">-</button>
      <input class="input_quantity_selector" type="number" maxlength="3" min="1" name="{{order.item.pk}}-quantity" value={{order.quantity}} onkeydown="handle_input(event, {{order.item.pk}}, this.value)">
      <button class="btn_quantity_selector" onclick="addQuantity({{order.item.pk}})">+</button>
    </div>
    <span>{{order.item.stock}}</span>
    {% if order.item.get_item_percentage_price %}
      <span><span class="strikethrough">{{order.item.price}}</span> {{order.item.get_item_percentage_price}} NOK</span>
    {% else %}
      <span>{{order.item.price}} NOK</span>
    {% endif %}
    <span>{{order.get_order_total}} NOK</span>
    <a href="{% url 'delete_item_from_cart' order.item.pk %}">[X]</a>
  </div>
  <div class="horizontal_line"></div>
  {% endfor %}
      <h4>Subtotal ({{ item_amount }} items): {{ total_price }} NOK </h4>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Buy cart
      </button>
  {% endif %}

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">

            <label for="InputEmail1">Please specify email adress to send reciept</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" required data-error-msg="The email is required in valid format!">
            <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
        <button type="submit" class="btn btn-primary" onclick="buyCart()">Send reciept</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
