{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'webshop/css/search.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
    <h2>You bought stuff for {{ total }}NOK</h2>

    <div>What was bought
        {% for foo in cart.items.all %}
            <div>{{ foo.item.name }}</div>
            <div>{{ foo.quantity }}</div>
    {% endfor %}
    </div>
    </div>
{% endblock %}