{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'webshop/css/search.css' %}">
{% endblock %}

{% block content %}
<form id="filterForm" action="" method="get">
	<label for="id_name">Product Name</label> {{ itemsFilter.form.name }}
	<label for="id_price_0">Price</label> <div id="priceDiv">{{ itemsFilter.form.price }}</div>
	<label for="id_brand">Brand</label> {{ itemsFilter.form.brand }}
	<label>Tag</label> {{ itemsFilter.form.tag }}
	<input type=submit value="Filter">
</form>
<div class="items">
{% if itemsFilter.qs %}
	{% for item in itemsFilter.qs %}
	<div class="item">
		<a class="item_name" href="/webshop/{{ item.id }}/">{{item.name | truncatechars:14 }}</a>
		{% if item.get_discount %}
			{% if item.get_item_percentage_price %}
				<p class="item_price"><span class=strikethrough>{{item.price}}</span> {{item.get_item_percentage_price}} NOK ({{item.get_discount}})</p>
			{% else %}
				<p class="item_price">{{item.price}} NOK [{{item.get_discount}}]</p>
			{% endif %}
		{% else %}
			<p class="item_price">{{item.price}} NOK</p>
		{% endif %}
		<p class="item_brand">{{item.brand}} Brand</p>
		<p class="item_tags">
			{% for tag in item.tag.all %}
			<span>{{tag.name}}{% if not forloop.last %} | {% endif %}</span>
			{% endfor %}
		</p>
		{% if user.is_authenticated %}
            <a class="item_add_to_cart" href="{% url 'add_item_to_cart' item.pk %}">[Add To Cart]</a>
        {% endif %}
	</div>
	{% endfor %}
{% else %}
	<p>
		There are no items.
	</p>
{% endif %}
</div>
{% endblock %}
